*{
    padding: 0;
    margin: 0;
}
@import url('http://fonts.cdnfonts.com/css/freestyle-script');
#brend{
    border-radius: 100%;
}
body{
    background: url(https://funart.pro/uploads/posts/2021-04/1618517992_8-funart_pro-p-oboi-fon-anime-kafe-8.jpg);
    background-repeat: no-repeat;
    background-attachment:  fixed;
    width: 100%;
    /* height: 300vh; */
    background-size: cover;
}
header{
    background: url(https://ylianova.ru/800/600/https/fb.ru/misc/i/gallery/20294/416342.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;

}

#logo{
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: freestyle script;
    color: #ebc772;
    font-size: 50px;
}

#find {
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    height: 40px;
}

#general1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#output1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(28, 3, 3);
    color: white;
}
hr{
    height: 3px;
    background-color: black;
    border-color: black;
    /* background-color: #2c170f;border-color: #2c170f; */
}
h6{
    
    background-color: rgb(95, 57, 32);
}
#search{
    background-color: rgb(95, 57, 32);
    /* border-radius: 10px; */
    padding: 3px;
}
#input_search{
    font-size: 15px;
    /* border-radius: 15px; */
    color: white;
    background-color: rgb(160, 109, 75);
    border-color: black;
    border-width: 3px;
    font-weight: bold;
}
#img_search{
    width: 30px;
    background-color: rgb(95, 57, 32);
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color:white;
    opacity: 0.6;
    font-weight: 300;
 }
